<div class="container goat-show">
  <h1><strong>Hello <%= current_user.first_name %></strong> </h1>
  <h3>Your Bookings:</h3>

  <% if @bookings.present? %>
    <% @bookings.each do |booking| %>
      <div class="booking-card">
        <%= cl_image_tag booking.goat.photo.key %>
        <div class="booking-card-info">
          <p>Booking ID: <%= booking.id %></p>
          <h3><%= booking.goat.name %></h3>
          <p>Booking Date: <%= booking.start_date %> - <%= booking.end_date %></p>
          <p><strong>Total Days: </strong><%= booking.calculate_total_days %> </p>
          <p><strong>Total Price: </strong><%= booking.calculate_total_price %>$</p>
          <p><%= booking.goat.description %></p>

          <% if booking.review.nil? %>
            <%= link_to "Add a review", new_booking_review_path(booking), class: "btn btn-default" %>
          <% end %>

          <%= link_to booking_path(booking), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'delete-booking' do %>
            <%= image_tag 'remove.png', alt: 'Delete' %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>No bookings yet.</p>
  <% end %>


  <h3>Your Listings:</h3>

  <% if @listings.present? %>
    <% @listings.each do |listing| %>
      <div class="card-container">
        <%= cl_image_tag listing.photo.key %>
        <div class="listing-card-info">
          <p>Listing ID: <%= listing.id %></p>
          <h3><%= listing.name %></h3>
          <p><strong>Location: </strong><%= listing.location %></p>
          <p><strong>Price/day: </strong><%= number_to_currency(listing.price) %>$</p>
          <p><%= listing.description %></p>

          <%= link_to goat_path(listing), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'delete-action' do %>
            <%= image_tag 'remove.png', alt: 'Delete' %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>No listings yet.</p>
  <% end %>
</div>
