<!-- app/views/goats/index.html.erb -->

<style>
  body {
    background-color: white;
  }

  h1 {
    text-align: center;
    color: #001d3d;
    padding-top: 25px;
    font-size: 75px;
  }

  p {
    text-align: center;
    color: #001d3d;
    margin: 0 auto;
  }

  .goat-listing {
    padding: 20px;
  }

  .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .col-md-4 {
    width: 30%;
  }

  .goat-container {
    /* background-color: white;
    border: 5px solid #ddd;
    border-color:#001d3d;
    border-radius: 15px;
    padding: 15px;
    text-align: center; */
    margin-bottom: 16px;
  }

  .goat-container p {
    text-align: left;
  }

  .goat-image {
    max-width: 100%;
    border-radius: 15px;
    height: 250px;
  }

  .goat-name {
    font-size: 1.2em;
    margin-top: 10px;
    color: #333;
  }

  .goat-location {
    font-style: italic;
    color: #555;
  }

  .goat-price {
    font-weight: bold;
    color: #27ae60;
  }
</style>

<h1>GOATS Available</h1>

<div class="w-50 mx-auto pt-4">
<p>Discover our fleet of professional goats ready to transform your lawn into a pristine paradise. From expert grass munching to eco-friendly fertilizing, our goats are here to make your outdoor space truly extraordinary.</p></p>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8 my-3">
      <%= form_with url: goats_path, method: :get, class: "d-flex" do |f| %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Type a keyword"
            %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
<div class="goat-listing">
  <% @goats.each_slice(4) do |goat_batch| %>
    <div class="row">
      <% goat_batch.each do |goat| %>
        <div class="col-md-3">
          <%= link_to goat_path(goat), style: 'text-decoration: none;' do %>
            <div class="goat-container">
              <%= cl_image_tag(goat.photo.key, width: 400, height: 300, crop: :fill, class: 'goat-image') %>
              <h2 class="goat-name"><%= goat.name %></h2>
              <div class="goat-rating">
              <!-- Display stars based on the review rating -->
              </div>
              <p class="goat-location"><strong>Location:</strong> <%= goat.location %></p>
              <p class="goat-price">Price per Day: $<%= goat.price %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
</div>
