<!-- app/views/goats/show.html.erb -->
<style>
  body {
    background-color: #ffff;
  }
  .goat-container {
    background-color: white;
    /* border: 1px solid #ddd; */
    padding: 15px;
    display: flex;
    align-items: center;
    padding-right: 280px ;
    padding-left: 280px ;
    padding-top: 50px;

  }

  /* .goat-container h2 p {
    color: #001d3d
  } */

  .goat-image {
    max-width: 40%;
    border-radius: 5px;
    margin-right: 20px;
  }
  .goat-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  .detail {
    margin-bottom: 10px;
  }
  .goat-name {
    font-size: 1.5em;
    color: #001d3d;
  }
  .goat-description {
    font-style: italic;
    color: #001d3d;
  }
  .goat-price {
    font-weight: bold;
    color: #27AE60;
  }
  .book-now-button {
    background-color:  #001d3d;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    display: inline-block;
  }

  .book-now-button:hover {
    background-color: #ffc300;
    transition: 0.5s;

  }

  .list-group{
    border-radius: 15px;
    padding: 5px 30px;
    text-decoration: none;
    border-radius: 30px;
    width:300px;
    font-size: 5px;
    font-style: italic;
    color: #001d3d;
    font-size: 1.5em;
  }



  .review {
    margin: 20px; /* Adjust margin as needed */
  }

  .box {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 30px;
  }

  .review-username {
    margin-bottom: 10px;
    text-decoration: underline;
  }

  .fa-star {
    color: gold;
    font-size: 16px;
  }


  .d-flex h2 {
    font-size: 16px;
  }


  .box h2 {
    font-size: 14px;
  }

</style>

<div class="goat-container">
  <%= cl_image_tag(@goat.photo.key, width: 200, height: 150, crop: :fill, class: 'goat-image') %>
  <div class="goat-details">
    <div class="detail">
      <h2 class="goat-name"><%= @goat.name %></h2>
    </div>
    <div class="detail">
      <p class="goat-description"><%= @goat.description %></p>
    </div>
    <div class="detail">
      <p class="goat-price">Price per Day: $<%= @goat.price %></p>
    </div>
    <div class="detail">
      <%= link_to 'Book Now', new_goat_booking_path(@goat), class: 'book-now-button' %>
    </div>
  </div>




</div>


<div class="review">
  <p><strong>Reviews</strong></p>
  <div class="box">
    <ul class="list-group">
      <% @goat.bookings.each do |booking| %>
        <% if booking.review %>
          <div class="review-username">
            <p><strong>
              <%= booking.review.user.first_name %>
              <%= booking.review.user.last_name %>
            </strong></p>
          </div>

          <div class="d-flex">
            <h2><strong>rating:</strong>
            <% booking.review.rating.times do %>
              <span class="fa fa-star" style="font-size: 26px;"></span>
            <% end %></h2>
          </div>

          <h2><strong>comment:</strong><%= booking.review.content %></h2>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
