<style>
  body {
    background-color: #F5F5F5;
  }
  .goat-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    min-height: 400px;
  }
  .goat-image {
    max-width: 40%;
    border-radius: 5px;
    margin-left: 40px;
    margin-top: 13px;
  }
  .goat-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  .detail {
    margin-bottom: 10px;
  }
  .goat-name {
    font-size: 4em;
    color: #333;
    margin-left: 20px;
    margin-top: 30px;
  }
  .goat-description {
    font-style: italic;
    color: #555;
    margin-left: 20px;
  }
  .goat-price {
    font-weight: bold;
    color: #333;
    font-size: 2em;
  }
  .booking-form {
    width: 30%;
    margin-right: 40px;
    border: 1px solid rgb(221, 221, 221);
    padding: 40px;
    border-radius: 5px;
    padding-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  }
</style>

<div style="width: 75%; height: 600px; margin: auto;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div class="goat-container">
  <%= cl_image_tag(@goat.photo.key, width: 200, height: 150, crop: :fill, class: 'goat-image') %>
  <div class="goat-details">
    <div class="detail">
      <h2 class="goat-name"><%= @goat.name %></h2>
    </div>
    <div class="detail">
      <p class="goat-description"><%= @goat.description %></p>
    </div>
  </div>

  <div class="booking-form">
    <%= simple_form_for [@goat, @booking] do |f| %>
      <p class="goat-price"><%= @goat.price %>€/Day</p>
      <div data-controller="booking-total-price" data-daily-price=<%= @goat.price %>>
        <%= f.input :start_date, as: :date, html5: true, input_html: { data: { booking_total_price_target: "startDate", action: "change->booking-total-price#calculate" } } %>
        <%= f.input :end_date, as: :date, html5: true, input_html: { data: { booking_total_price_target: "endDate", action: "change->booking-total-price#calculate" } } %>
        <div class="d-flex justify-content-between align-items-center" style="height: 86px;">
          <div data-booking-total-price-target="endPrice"></div>
          <%= f.submit "Book Now", class: "btn btn-default", data: {booking_total_price_target: "btn" } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
