<!-- app/views/goats/show.html.erb -->
<style>
  body {
    background-color: #ffff;
  }
  .goat-container {
    background-color: white;
    /* border: 1px solid #ddd; */
    padding: 15px;
    display: flex;
    align-items: center;
    padding-right: 280px ;
    padding-left: 280px ;
    padding-top: 50px;

  }

  /* .goat-container h2 p {
    color: #001d3d
  } */

  .goat-image {
    max-width: 40%;
    border-radius: 5px;
    margin-right: 20px;
  }
  .goat-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  .detail {
    margin-bottom: 10px;
  }
  .goat-name {
    font-size: 1.5em;
    color: #001d3d;
  }
  .goat-description {
    font-style: italic;
    color: #001d3d;
  }
  .goat-price {
    font-weight: bold;
    color: #27AE60;
  }
  .book-now-button {
    background-color:  #001d3d;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    display: inline-block;
  }

  .book-now-button:hover {
    background-color: #ffc300;
    transition: 0.5s;

  }

</style>

<div style="width: 75%; height: 600px; margin: auto;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div class="goat-container">
  <%= cl_image_tag(@goat.photo.key, width: 200, height: 150, crop: :fill, class: 'goat-image') %>
  <div class="goat-details">
    <div class="detail">
      <h2 class="goat-name"><%= @goat.name %></h2>
    </div>
    <div class="detail">
      <p class="goat-description"><%= @goat.description %></p>
    </div>
    <div class="detail">
      <p class="goat-price">Price per Day: $<%= @goat.price %></p>
    </div>
    <div class="detail">
      <%= link_to 'Book Now', new_goat_booking_path(@goat), class: 'book-now-button' %>
    </div>
  </div>
</div>
