<style>
  body {
    background-color: #F5F5F5;
  }
  .goat-container {
    display: flex;
    justify-content: space-between;
    margin: 60px auto;
    min-height: 400px;
    width: 90%;
  }
  .goat-show-image {
    width: 25%;
    /* margin-left: 40px; */
  }

  .goat-show-image img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
    border: 1px solid rgb(221, 221, 221);
  }

  .goat-details {
    /* flex-grow: 1; */
    /* flex: 1; */
    /* padding-right: 20px; */
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 0 30px;
  }
  .detail {
    margin-bottom: 10px;
  }
  .goat-name {
    font-size: 4em;
    color: #333;
    /* margin-left: 20px; */
    margin-top: 30px;
  }
  .goat-description {
    font-style: normal;
    color: #333;
    /* margin-left: 20px; */
  }
  .goat-price {
    font-weight: bold;
    color: #333;
    font-size: 2em;
  }
  .booking-form {
    width: 30%;
    /* margin-right: 40px; */
    padding-top: 50px;
    padding: 40px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  }

  .description-header {
    color: #333;
    text-decoration: underline;
  }

  hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 29, 61, 0), rgba(0, 29, 61, 0.75), rgba(0, 29, 61, 0));
    margin-bottom: 30px;
  }

<div style="width: 75%; height: 600px; margin: auto;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY']%>" >

</div>

  .list-group{
    border-radius: 15px;
    padding: 5px 30px;
    text-decoration: none;
    border-radius: 30px;
    width:300px;
    font-size: 5px;
    font-style: italic;
    color: #001d3d;
    font-size: 1.5em;
  }


  .boxreview {
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 30px;
    padding: 40px;
    border-radius: 30px;
    border: 1px solid rgb(221, 221, 221);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  }


  .review-username {
    /* margin-bottom: 5px; */
    font-size: 20px;
    text-decoration: underline;
  }

  .fa-star {
    color: gold;
    font-size: 10px;
  }


  .d-flex h2 {
    font-size: 18px;
  }


  .box h2 {
    font-size: 14px;
  }

</style>

<div class="goat-container">
  <div class="goat-show-image">
    <%= cl_image_tag(@goat.photo.key, crop: :fill) %>
  </div>

  <div class="goat-details">
    <div class="detail">
      <h2 class="goat-name"><%= @goat.name %></h2>
    </div>
    <div class="detail">
    <h3 class="description-header">Description:</h3>
      <p class="goat-description"><%= @goat.description %></p>
    </div>
  </div>

  <div class="booking-form">
    <%= simple_form_for [@goat, @booking] do |f| %>
      <p class="goat-price"><%= @goat.price %>€/Day</p>
      <div data-controller="booking-total-price" data-daily-price=<%= @goat.price %>>
        <%= f.input :start_date, as: :date, html5: true, input_html: { data: { booking_total_price_target: "startDate", action: "change->booking-total-price#calculate" } } %>
        <%= f.input :end_date, as: :date, html5: true, input_html: { data: { booking_total_price_target: "endDate", action: "change->booking-total-price#calculate" } } %>
        <div class="d-flex justify-content-between align-items-center" style="height: 86px;">
          <div data-booking-total-price-target="endPrice"></div>
          <%= f.submit "Book Now", class: "btn btn-default", data: {booking_total_price_target: "btn" } %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%# map %>
<div class="goat-container">
  <div class="goat-show-image">
  <div class="review">
    <h3>Reviews</h3>
    <% if @goat.bookings.size == 0 %>
      <p>No Reviews</p>
    <% else %>
      <div class="boxreview">
        <ul class="list-group">
          <% @goat.bookings.each do |booking| %>
            <% if booking.review %>
              <div class="review-username">
                <p><strong>
                  <%= booking.review.user.first_name %>
                  <%= booking.review.user.last_name %>
                </strong></p>
              </div>

              <div class="d-flex">
                <p><strong>rating: </strong></p>
                <% booking.review.rating.times do %>
                  <span class="fa fa-star" style="font-size: 26px;"></span>
                <% end %></h2>
              </div>

              <p><strong>comment: </strong><%= booking.review.content %></p>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>

  <div class="goat-details"> <h3>Attributes</h3></div>

  <div class="mapShow">
    <div style="width: 100%; height: 600px; margin: auto;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>




</div>

<footer class="footer">
  <div class="container">
    <hr>
    <div class="text-center">
      <p>&copy; 2023 GoatMo. All rights reserved.</p>
    </div>
  </div>
</footer>
