<!DOCTYPE html>
<html>
  <head>
    <title>Goatmo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <!-- Include this in the head of your HTML file -->
    <link rel="stylesheet" type="text/css" href="styles.css">

  </head>

  <body>
   <%= render "layouts/navbar" %>
   <% unless alert.nil? %>
    <p class="alert mb-0"><%= alert %></p>
   <% end %>
   <% unless notice.nil? %>
    <p class="notice mb-0"><%= notice %></p>
   <% end %>
   <%= yield %>
  </body>
</html>
